{{#each posts as |post|}}
<div class="card mt-3" style="width: 100%;">
    <a href="/post/{{post.id}}" style="text-decoration: none;"><h3 class="card-title px-2 py-1">{{post.title}}</h3></a>
    <div class="card-body">
        <p class="card-text">{{post.text}}</p>
    </div>
    <div class="card-footer text-muted">
        Posted by {{post.user.username}} on {{format_date post.date_created}}
    </div>
</div>
{{/each}}