<div class="card" style="width: 80%;">
    <h3 class="card-title">{{post.title}}</h5>
    <div class="card-body">
        <p class="card-text">{{post.text}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>

    {{!-- Need to change user_id to actual username --}}
    {{!-- post.user.username --}}
    <div class="card-footer text-muted">
        Posted by {{post.user_id}} on {{post.date_created}}
    </div>
</div>

<h4>Comments</h4>

{{#if logged_in}}
<div class="card" style="width: 80%;">
    <form class="new-comment-form">
        <div class="form-group">
            <label for="comment" class="form-label">Add a comment</label>
            <textarea class="form-control" id="comment" name="comment"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{{else}}
<h5><a href="/login">Log in</a> to leave a comment</h5>
{{/if}}

{{#each post.comments}}
<div class="card" style="width: 80%;">
    <p class="card-text">{{comment.text}}</p>
    {{!-- Need to change user_id to actual username --}}
    <div class="card-footer">
        {{comment.user_id}}, {{comment.date_created}}
    </div>
</div>
{{/each}}

{{#if logged_in}}
<script src="./js/post.js"></script>
{{/if}}