<div class="card" style="width: 100%;">
    <h3 class="card-title px-2 pt-1">{{post.title}}</h3>
    <div class="card-body">
        <p class="card-text">{{post.text}}</p>
    </div>
    <div class="card-footer text-muted">
        Posted by {{post.user.username}} on {{format_date post.date_created}}
    </div>
</div>
<br>
<h4 style="color:rgb(228, 228, 228);">Comments</h4>

{{#if logged_in}}
<div class="card" style="width: 80%;">
    <form class="new-comment-form">
        <div class="form-group" id="comment-form">
            <label for="comment" class="form-label px-2 pt-1" style="color:rgb(228, 228, 228);">Add a comment on this post</label>
            <textarea class="form-control" id="comment" name="comment"></textarea>
        </div>
        <div class="form-group pt-1" id="comment-form">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{{else}}
<h5><a href="/login">Log in</a> or <a href="/signup">sign up</a> to leave a comment</h5>
{{/if}}

{{#each post.comments}}
<div class="card mt-3" style="width: 80%;">
    <p class="card-text px-2 pt-1">{{text}}</p>
    <div class="card-footer text-muted">
        {{!-- need to change user_id to username somehow --}}
        {{user_id}}, {{format_date date_created}}
    </div>
</div>
{{/each}}

{{#if logged_in}}
<script src="/js/post.js"></script>
{{/if}}